<div class="course-panel">
    <h3>All Courses</h3>
    <mat-tab-group mat-align-tabs="center">
        <!-- <mat-tab label="Begginers">
            <app-course-card [getCourse]="course" *ngFor="let course of beginnerCourses$ | async"></app-course-card>
        </mat-tab>
        <mat-tab label="Advanced">
            <app-course-card [getCourse]="course" *ngFor="let course of advanceCourses$ | async"></app-course-card>
        </mat-tab> -->
        <mat-tab label="Begginers">
            <app-course-card [getCourse]="course" *ngFor="let course of beginnerCoursesArr"></app-course-card>
        </mat-tab>
        <mat-tab label="Advanced">
            <app-course-card [getCourse]="course" *ngFor="let course of advanceCoursesArr"></app-course-card>
        </mat-tab>
    </mat-tab-group>
</div>